# Composer WordPress
vendor/
wordpress/
composer.lock

# PHP Server
mailoutput

# WordPress App

## Configuration
app/config/parameters.yml

## Every environment can have its own wp-config
wp-config.php